.auth-container {
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: white;
}

.success-message {
  color: green !important;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
